* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {

    .nav__modific {
        position: fixed;
        width: 100%;

        .container__modific {
            margin-top: -8px;
            margin-bottom: -8px;
            background-color: #d8d8d8;
            box-shadow: 2px 3px 6px 0.5px #000000bf;

            div {
                display: flex;
                margin-left: 2rem;

                img {
                    width: 10%;
                    margin-top: -0.5rem;
                    border-radius: 5px;
                }

                p {
                    font-size: 1.2rem;
                    padding-top: 1rem;
                }
            }

            .nav__gonzalolosantos {
                display: flex;
                margin-left: auto;

                .name {
                    text-decoration: none;
                }

                .img__izquierda__logo {
                    width: 2rem;

                    img {
                        width: 40%;
                        border: 1px solid #238f0d;
                    }
                }

                div {

                    img {
                        border: 4px double #000000;
                        margin-left: 5rem;
                        width: 20%;
                        margin-top: 2px;
                        border-radius: 4px;
                    }
                }
            }

            a {
                color: #000000;
                margin-top: 0.7rem;
            }

            .ini__contact__etc {
                margin-left: auto;

                a {
                    margin: 0.5rem;
                    font-size: 1.3rem;
                }

            }
        }
    }
}

main {
    z-index: 0;
    height: 100vh;

    div {

        input {
            border: 1px solid black;
            z-index: 1;
            position: fixed;
            left: 162vh;
            top: 2.7vh;
            border-radius: 5px;
        }
    }

    .contenedorPrincipal {

        h1 {
            padding-top: 8rem;
            margin-left: 5rem;
            border: 2px solid #ff000000;
            font-size: 2rem;
        }

        .contenedorPrincipalSerccionMedia {
            border: 2px solid rgb(255, 0, 0);
            height: 70vh;
        }

        .carrito {
            border: 2px solid red;
            position: fixed;
            margin-left: 66rem;
        }
    }

    .cajaPadre {
        border: 2px solid #ff000000;
        padding: 0.5rem;

        .cajaContenedora {
            border: 2px solid #000000;
            margin: 1rem;
            margin-left: 4rem;
            max-width: 15rem;
            max-height: 23rem;
            margin-bottom: 5rem;
            margin-top: -0.5rem;

            .btnPrincipal {
                border: 2px solid #000000;
                margin-left: 2rem;
                margin-top: -0.5rem;
            }
        }
    }

    .contenedor {
        padding: 1.5rem;
        border: 2px solid #00000033;
        display: flex;
        flex-wrap: wrap;
    }
}

.pieDePagina {
    margin-top: 167vh;
}