* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -5rem;
}
body header .nav__modific {
  position: absolute;
  width: 100%;
}
body header .nav__modific .container__modific {
  margin-top: -8px;
  margin-bottom: -8px;
  background-color: #d8d8d8;
  box-shadow: 2px 3px 6px 0.5px rgba(0, 0, 0, 0.7490196078);
}
body header .nav__modific .container__modific div {
  display: flex;
  margin-left: 2rem;
}
body header .nav__modific .container__modific div img {
  width: 10%;
  margin-top: -0.5rem;
  border-radius: 5px;
}
body header .nav__modific .container__modific div p {
  font-size: 1.2rem;
  padding-top: 1rem;
}
body header .nav__modific .container__modific .nav__gonzalolosantos {
  display: flex;
  margin-left: auto;
}
body header .nav__modific .container__modific .nav__gonzalolosantos .name {
  text-decoration: none;
}
body header .nav__modific .container__modific .nav__gonzalolosantos .img__izquierda__logo {
  width: 2rem;
}
body header .nav__modific .container__modific .nav__gonzalolosantos .img__izquierda__logo img {
  width: 40%;
  border: 1px solid #238f0d;
}
body header .nav__modific .container__modific .nav__gonzalolosantos div img {
  border: 4px double #000000;
  margin-left: 5rem;
  width: 20%;
  margin-top: 2px;
  border-radius: 4px;
}
body header .nav__modific .container__modific a {
  color: #000000;
  margin-top: 0.7rem;
}
body header .nav__modific .container__modific .ini__contact__etc {
  margin-left: auto;
}
body header .nav__modific .container__modific .ini__contact__etc a {
  margin: 0.5rem;
  font-size: 1.3rem;
}
body main {
  z-index: 0;
  height: 100vh;
}
body main div input {
  border: 1px solid black;
  z-index: 1;
  position: absolute;
  left: 162vh;
  top: 2.7vh;
  border-radius: 5px;
}
body main .contenedorPrincipal h1 {
  padding-top: 8rem;
  margin-left: 5rem;
  border: 2px solid rgba(255, 255, 255, 0);
  font-size: 2rem;
  max-width: 25rem;
  color: white;
  text-shadow: 2px 0px 10px black;
}
body main .contenedorPrincipal .contenedorPrincipalSerccionMedia {
  border: 2px solid #ff0000;
  height: 70vh;
}
body main .contenedorPrincipal .carrito {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  border: 2px solid rgba(39, 39, 39, 0.6784313725);
  margin-left: 180vh;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.3882352941);
  color: #000000;
  border-radius: 5px;
}
body main .contenedorPrincipal .botn-vaciar {
  margin-left: 71rem;
  position: fixed;
}
body main .contenedorPrincipal h4 {
  border: 2px solid red;
  width: 15rem;
  margin-left: 180vh;
}
body main .cajaPadre {
  border: 2px solid rgba(255, 0, 0, 0);
  padding: 0.5rem;
}
body main .cajaPadre .cajaContenedora {
  border: 2px solid #000000;
  margin: 1rem;
  margin-left: 4rem;
  max-width: 15rem;
  max-height: 23rem;
  margin-bottom: 5rem;
  margin-top: -0.5rem;
}
body main .cajaPadre .cajaContenedora .btnPrincipal {
  border: 2px solid #000000;
  margin-left: 2rem;
  margin-top: -0.5rem;
}
body main .contenedor {
  padding: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
}
body .custom-alert {
  border: 2px solid #000000;
  width: 15rem;
  margin-top: 15rem;
  margin-right: 2.5rem;
}
body .pieDePagina {
  margin-top: 235vh;
}/*# sourceMappingURL=styles.css.map */