* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -5rem;

    header {

        .nav__modific {
            position: absolute;
            width: 100%;

            .container__modific {
                margin-top: -8px;
                margin-bottom: -8px;
                background-color: #d8d8d8;
                box-shadow: 2px 3px 6px 0.5px #000000bf;

                div {
                    display: flex;
                    margin-left: 2rem;

                    img {
                        width: 10%;
                        margin-top: -0.5rem;
                        border-radius: 5px;
                    }

                    p {
                        font-size: 1.2rem;
                        padding-top: 1rem;
                    }
                }

                .nav__gonzalolosantos {
                    display: flex;
                    margin-left: auto;

                    .name {
                        text-decoration: none;
                    }

                    .img__izquierda__logo {
                        width: 2rem;

                        img {
                            width: 40%;
                            border: 1px solid #238f0d;
                        }
                    }

                    div {

                        img {
                            border: 4px double #000000;
                            margin-left: 5rem;
                            width: 20%;
                            margin-top: 2px;
                            border-radius: 4px;
                        }
                    }
                }

                a {
                    color: #000000;
                    margin-top: 0.7rem;
                }

                .ini__contact__etc {
                    margin-left: auto;

                    a {
                        margin: 0.5rem;
                        font-size: 1.3rem;
                    }

                }
            }
        }
    }

    main {
        z-index: 0;
        height: 100vh;

        .mainContenedor {
            background-color: rgba(255, 255, 255, 0.685);
            width: 20rem;
            top: 5rem;
            position: absolute;
            left: 70rem;
            width: 12.3rem;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.658);
        }

        div {

            input {
                border: 1px solid black;
                z-index: 1;
                position: absolute;
                border-radius: 5px;
            }
        }

        .contenedorPrincipal {

            h1 {
                padding-top: 8rem;
                margin-left: 5rem;
                border: 2px solid #ffffff00;
                font-size: 2rem;
                max-width: 25rem;
                color: white;
                text-shadow: 2px 0px 10px black;
            }

            .contenedorPrincipalSerccionMedia {
                border: 2px solid #ff0000;
                height: 70vh;
            }

            .carrito {
                margin-top: 12rem;
                display: flex;
                flex-wrap: wrap;
                position: fixed;
                border: 2px solid #272727ad;
                margin-left: 180vh;
                width: 15rem;
                background-color: #ffffff63;
                color: #000000;
                border-radius: 5px;
            }

            .botn-vaciar {
                margin-left: 71rem;
                position: fixed;
                margin-top: 10rem;
            }

            h4 {
                border: 2px solid red;
                width: 15rem;
                margin-left: 180vh;
            }

        }

        .cajaPadre {
            border: 2px solid #ff000000;
            padding: 0.5rem;

            .cajaContenedora {
                border: 2px solid #000000;
                margin: 1rem;
                margin-left: 4rem;
                max-width: 15rem;
                max-height: 23rem;
                margin-bottom: 5rem;
                margin-top: -0.5rem;

                .btnPrincipal {
                    border: 2px solid #000000;
                    margin-left: 2rem;
                    margin-top: -0.5rem;
                }
            }
        }

        .contenedor {
            padding: 1.5rem;
            border: 2px solid #00000033;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .custom-alert {
        border: 2px solid #000000;
        width: 15rem;
        margin-top: 15rem;
        margin-right: 2.5rem;
    }

    .pieDePagina {
        margin-top: 235vh;
    }
}